<!DOCTYPE html>
<html>
    <head>
        <title>首页</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="http://10.118.21.116:5252/build/app.min.css">
    </head>
    <body>
        <div id="js-app-container"></div>
        <script type="text/javascript" src="http://10.118.21.116:5252/build/app.min.js"></script>
    </body>
</html>