@import '../../lib/common/fn.scss';

.c-nodata {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    // 购物车无数据
    &.nocart {
        .img {
            background-image: url(../../images/public/no-cart.png);            
        }
    }

    .img {
        margin-top: pxToRem(-140px);
        width: pxToRem(350px);
        height: pxToRem(358px);
        background-image: url(../../images/public/no-data.png);
        @include fullbg();
    }

    .text {
        width: 58%;
        text-align: center;
        margin: pxToRem(60px) auto 0;
        font-size: pxToRem(32px);
        line-height: 1.2;
        color: #999;
    }
}